 .header{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    overflow: scroll;
}
.header::-webkit-scrollbar{
    display: none;
}

.header>div{
    margin: 5px;
}
.punklogo{
    width: 150px ;
    color: #1c1c1e;
} 


.searchBar {
    display: flex;
    border-radius: 50px;
    flex: 1;
    background-color: #1c1c1e;
    width: 100%;
    
}
.searchBar>div{
    margin: 10px;
}

.searchInput{
    background-color: transparent;
    border: none;
    color: #eee;
    outline: none;
    font-size: 16px;
    flex:1;
    width: 100%;
}

.searchIcon{
    background-color:#1c1c1e;
    border: none;
}

.header_right > a{
    margin: 8px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(25, 182, 182);
    text-decoration: none;
} 
.header_right> a:hover{
    color: rgba(30, 30, 164, 0.823);
    
}

.themeIcon{
    display: flex;
    background-color: #1c1e1e;
    border-radius: 50px;
    padding:10px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    color: white;
}


.header_actions{
    display: flex;
    align-items: center;
}
.header_actions{
    margin: 10px;
}
.loginButton{
    background: rgb(2,0,36);
    background: linear-gradient(90deg,  rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    padding: 15px 40px;
    border-radius: 50px;
    color: #ececec;
    cursor: pointer;
}
.loginButton:hover{
    color: black;
    background: linear-gradient(to right, #00ffcc 0%, #66ffff 100%);
}
.searchBar>::placeholder{
    color: #ececec8b;
    
}
